body{padding:0;
     margin:0;} 
.Global-1
     {background-color:black;
      color:white;
      font-size:20px;
      padding:200px 150px 300px 150px;
      border-radius:0px 0px 600px 0px}
      


.Global-2
          {background-color:White;
          color:black;
          padding:70px 70px 0px 50px;
          border:color;
          border-size:0px 0px 0px 200px;
          display:flex;}
h1.blue{
	color:black;
	text-align:center;
        font-size:50px;
        padding:0px 100px 0px 0px;}
.white{ 
	font-size:30px;
        padding:0px 150px 0px 150px}

.globe5{width:50%;
        padding:0px 100px 300px 30px;
        font-size:120%;}
.red{width:400px;
	height:400px;
        padding:0px 30px 150px 20px;}



.Global-3{background-color:black; }
.globe1{color:white;
         padding:250px 150px 0px 570px;
        font-size:30px;}
.globe2{color:White;
        padding:0px 100px 0px 250px;
        font-size:40px;}
.globe3{color:White;
        font-size:20px;
        padding:0px 70px 350px 110px;}


.Global-4{background-color:white;
          color:black;
          padding:50px 10px 0px 0px; 
          display:flex}
h1.orange{color:black;
          text-align:center;
          font-size:50px;
          padding:0px 100px 0px 200px;}

.gbl2{width:100%;
      padding:0px 50px 100px 50px;}
      
.gbl1{width:100%;
      font-size:20px;
      padding:0px 100px 100px 100px;}


 

